Мы создаем бота, торгующего криптовалютой с интерфейсом управления через telegram.
Нужно быть максимально внимательным, так как это финансовые операции.
Когда пишешь код будь на 100% уверен, что ты не ломаешь существующий функционал.








